<h1>{{guitar.name}}</h1>
<img class="cube" src="{{guitar.imageUrl}}">
<div class="details">
  <p><span>Description:</span>{{guitar.description}}</p>
  <p><span>Price:</span> {{guitar.price}}</p>
  {{#if isOwner}}
  <a class="btn" href="/edit/{{guitar.id}}">Edit</a>
  <a class="btn" href="/attach/{{guitar.id}}">Attach Accessory</a>
  <a class="btn" href="/delete/{{guitar.id}}">Delete</a>
  {{/if}}
  <a class="btn" href="/">Back</a>
</div>

<h2>Accessories</h2>
<div class="accessories">
    {{#each accessories}}
    {{> accessory}}
    {{else}}
    <h3 class="italic">This guitar has no accessories yet...</h3>
    {{/each}}
</div>